body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: linear-gradient(180deg, rgba(13, 15, 14, 1) 0%, rgba(13, 6, 29, 1) 100%);
}

h1 {
    font-weight: 800;
    font-size: 58px;
}

h2 {
    font-weight: 600;
    font-size: 40px;
}

h3 {
    font-weight: 600;
    font-size: 30px;
}

p {
    font-size: 14px;
    line-height: 150%;
}

.container {
    padding-left: 6%;
    padding-right: 6%;
}

.head {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-top: .90rem;
    padding-bottom: .90rem;
}

.head__logo {
    width: 15%;
    
}

.head__navegacion {
    text-align: center;
}

.head__enlace {
    display: inline-block;
    font-size: .8rem;
    margin-right: .7rem;
    margin-bottom: .7rem;
    margin-left: .7rem;
}

.hero {
    height: 70vh;
    background-image: url(../Imagenes/fondo.jpg);
    background-size: cover;
    background-position-y: 10%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 12.25rem;
    padding-bottom: 2.5rem;
}

.hero__texto {
    width: 35%;
    margin-top: 5%;
}

.hero__texto h1, p {
    margin-bottom: 2rem;
}

.boton {
    text-align: center;
    display: block;
    width: 35%;
    box-sizing: border-box;
    padding: 1rem 2rem;
    background-color: #F34701;
    border-radius: 160px; 
}

.tiposCompus {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.cardCompus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.card {
    margin-bottom: 2rem;
    box-sizing: border-box;
    width: 49%;
    background: linear-gradient(160deg, rgba(134,47,152,1) 0%, rgba(24,12,50,1) 100%);
    border-radius: 40px;
    padding: 3rem;
}

.card h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card__texto {
    text-align: justify;
}

.curso {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.curso__texto {
    width: 25%;
    text-align: justify;
}

.curso__texto p:last-child {
    margin-bottom: 0;
}

.curso__icono {
    color:#F34701;
    padding-bottom: 2rem;
}

.contacto {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    background: linear-gradient(160deg, rgba(134,47,152,1) 0%, rgba(24,12,50,1) 100%);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

form {
    width: 60%;
}

.input {
    width: 90%;
    border: 1px solid #F34701;
    border-radius: 40px;
    background: rgba(24, 12, 50, 0.49);
    margin-top: 1.5rem;
    padding: 1rem;
}

.input::placeholder {
    color: rgba(255, 255, 255, 0.53);
    font-family: 'Poppins', sans-serif;
}


.textarea {
    height: 5rem;
    border-radius: 20px;
}

.contacto__boxicono {
    display: flex;
    justify-content: center;
    width: 40%;
}

.contacto__icono {
    color: #862F98;
    font-size: 15rem;
}

.contato__boton {
    margin-top: 2rem;
    color: #fff;
    text-align: center;
    display: block;
    width: 20%;
    box-sizing: border-box;
    padding: 1rem 2rem;
    background-color: #F34701;
    border-radius: 160px; 
    border: none;
    cursor: pointer;
}

.footer__box {
    background: #F34701;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer p {
    margin-bottom: 0;
    font-size: 10px;
    font-weight: 400;
}

.footer__logo {
    width: 10%;    
}





