body{
    font-family: cursive, comic, 'Franklin Gothic Medium';
    color: white;
    text-align: left;
    font-size: large;
    line-height: 200%;
    min-height: 100%;
    background-image: url("https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80");
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center center;
    background-color: rgb(54, 6, 44);
} 

.navigation{
    text-align: right;
    width: 85%;
    max-width: 850px;
    margin: auto;
}

.header a{
    color: white;
    text-decoration: none;
}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
}
    .navigation ul li {
        display: inline-block;
    }
        .navigation ul li a {
            display: block;
            padding: 0,5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 6px;
        }
            .navigation ul li a:hover {
                background: rgb(115, 3, 51);
            }

html {
    height: 100%;
}

.secundaria {
    background-color: transparent;
    box-shadow: 20px 20px 20px 20px rgba(4, 2, 2, 0.75);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    display: grid;
    gap: 40px;
    grid-template:
        "basica" 
        "gaming" 
        "streaming"  
        "diseño"
}

/* falta completar las media queries */

@media (min-width: 900px) {
    .secundaria {
    grid-template:
        "basica gaming"
        "streaming diseño"
    }
}

.footer {
    text-align: center;
    background-color: black;
}